{% extends '@HelixFront/Template/Layout.html.twig' %}
{% block title %}Blog | Helix{% endblock title %}

{% block pagetitle %} Blog {% endblock %}
{% block pageracine %} Accueil {% endblock %}
{% block pageactuelle %} Blog {% endblock %}

{% block container %}

    <section>
        <div class="container">

            <div class="row">
                <!-- =============== Blog Detail ================= -->
                <div class="col-md-8 col-sm-12">

                    <!-- /.Article -->
                    <article class="blog-news detail-wrapper">
                        <div class="full-blog">

                            <!-- Featured Image -->
                            <figure class="img-holder">
                                <img src="{{asset ('assets/img/upload/'~ blog.nomImagedetail)}}" class="img-responsive" alt="News">
                                <div class="blog-post-date theme-bg">
                                    {{ blog.datecreation| date("d-m-y") }}
                                </div>
                            </figure>

                            <!-- Blog Content -->
                            <div class="full blog-content">
                                {#<div class="post-meta">By: <a href="#" class="author theme-cl">Daniel Dax</a> | 10 Comments </div>#}
                                <h3>{{ blog.soustitre2 }}</h3>
                                <div class="blog-text">
                                   <p>{{ blog.contenue1 }}</p>
                                    {#<div class="post-meta">Filed Under: <span class="category"><a href="#" class="theme-cl">Technology</a></span></div>#}
                                </div>

                                <h3>{{ blog.soustitre2 }}</h3>
                                <div class="blog-text">
                                    <p>{{ blog.contenue2 }}</p>
                                    {#<div class="post-meta">Filed Under: <span class="category"><a href="#" class="theme-cl">Technology</a></span></div>#}
                                </div>


                                <h3>{{ blog.soustitre3 }}</h3>
                                <div class="blog-text">
                                    <p>{{ blog.contenue3 }}</p>
                                    {#<div class="post-meta">Filed Under: <span class="category"><a href="#" class="theme-cl">Technology</a></span></div>#}
                                </div>

                                <!-- Blog Share Option -->
                                <div class="row no-mrg">
                                    <div class="blog-footer-social">
                                        <span>Partager <i class="fa fa-share-alt"></i></span>
                                        <ul class="list-inline social">
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                            <!-- Blog Content -->

                        </div>
                    </article>
                    <!-- /.Article -->

                    <!-- User Comments -->

                    <!-- /.User Comments -->

                    <!-- Start Blog Comment -->
                    <div class="row">

                    </div>
                    <!-- End Blog Comment -->

                </div>
                <!-- /.col-md-8 -->

                <!-- ===================== Blog Sidebar ==================== -->
                <div class="col-md-4 col-sm-12">
                    <div class="sidebar">

                        <!-- Search Bar -->
                        <div class="widget-boxed">
                            <div class="widget-boxed-header border-0">
                                <h4><i class="ti-search padd-r-10"></i>Rechercher ici</h4>
                            </div>

                            <div class="widget-boxed-body padd-top-5">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="rechercher&hellip;">
                                    <span class="input-group-btn">
												<button type="button" class="btn height-50 theme-btn">Trouver</button>
											</span>
                                </div>
                            </div>

                        </div>

                        <!-- Start: Latest Blogs -->
                        <div class="widget-boxed">
                            <div class="widget-boxed-header">
                                <h4><i class="ti-check-box padd-r-10"></i>Derniers articles</h4>
                            </div>
                            <div class="widget-boxed-body padd-top-5">
                                <div class="side-list">
                                    <ul class="side-blog-list">
                                        {% set x = 1  %}
                                        {% for blog in blogs %}
                                            {% if x < 6 %}
                                        <li>
                                            <a href="{{ path('detailarticle', {'id': blog.id}) }}">
                                                <div class="blog-list-img">
                                                    <img src="{{asset ('assets/img/upload/'~ blog.nomImage)}}" class="img-responsive" alt="">
                                                </div>
                                            </a>
                                            <div class="blog-list-info">
                                                <h5><a href="{{ path('detailarticle', {'id': blog.id}) }}" title="blog">{{ blog.titre }}</a></h5>
                                                <div class="blog-post-meta">
                                                    <span class="updated">{{ blog.datecreation | date("d-m-y") }}</span> | {{ blog.shortdescription }}
                                                </div>
                                            </div>
                                        </li>
                                                {% set x = x + 1 %}
                                                {% endif %}
                                            {% endfor %}







                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- End: Latest Blogs -->

                        <!-- Start: Listing Category -->
                        {#<div class="widget-boxed">#}
                            {#<div class="widget-boxed-header">#}
                                {#<h4><i class="ti-briefcase padd-r-10"></i>Top Categories</h4>#}
                            {#</div>#}
                            {#<div class="widget-boxed-body padd-top-10 padd-bot-0">#}
                                {#<div class="side-list">#}
                                    {#<ul class="category-list">#}
                                        {#<li><a href="#">Business <span class="badge bg-g">4</span></a></li>#}
                                        {#<li><a href="#">Shopping <span class="badge bg-a">7</span></a></li>#}
                                        {#<li><a href="#">Photography <span class="badge bg-d">10</span></a></li>#}
                                        {#<li><a href="#">Intertainment <span class="badge bg-l">55</span></a></li>#}
                                        {#<li><a href="#">Education <span class="badge bg-o">8</span></a></li>#}
                                        {#<li><a href="#">Travel & Tour <span class="badge bg-y">17</span></a></li>#}
                                        {#<li><a href="#">Health & Fitness <span class="badge bg-s">9</span></a></li>#}
                                    {#</ul>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                        <!-- End: Listing Category -->

                        <!-- Start: Recent Listing -->
{#                        <div class="widget-boxed">
                            <div class="widget-boxed-header">
                                <h4><i class="ti-check-box padd-r-10"></i>Recent Blogs</h4>
                            </div>
                            <div class="widget-boxed-body padd-top-5">
                                <div class="side-list">
                                    <ul class="side-blog-list">
                                        <li>
                                            <a href="#">
                                                <div class="blog-list-img">
                                                    <img src="{{ asset('assets/img/image-3.jpg') }}" class="img-responsive" alt="">
                                                </div>
                                            </a>
                                            <div class="blog-list-info">
                                                <h5><a href="#" title="blog">Freel Documentry</a></h5>
                                                <div class="blog-post-meta">
                                                    <span class="updated">Nov 26, 2017</span> | <a href="#" rel="tag">Documentry</a>
                                                </div>
                                            </div>
                                        </li>

                                        <li>
                                            <a href="#">
                                                <div class="blog-list-img">
                                                    <img src="{{ asset('assets/img/image-4.jpg') }}" class="img-responsive" alt="">
                                                </div>
                                            </a>
                                            <div class="blog-list-info">
                                                <h5><a href="#" title="blog">Preez Food Rock</a></h5>
                                                <div class="blog-post-meta">
                                                    <span class="updated">Oct 10, 2017</span> | <a href="#" rel="tag">Food</a>
                                                </div>
                                            </div>
                                        </li>

                                        <li>
                                            <a href="#">
                                                <div class="blog-list-img">
                                                    <img src="{{ asset('assets/img/image-1.jpg') }}" class="img-responsive" alt="">
                                                </div>
                                            </a>
                                            <div class="blog-list-info">
                                                <h5><a href="#" title="blog">Cricket Buzz High</a></h5>
                                                <div class="blog-post-meta">
                                                    <span class="updated">Oct 07, 2017</span> | <a href="#" rel="tag">Sport</a>
                                                </div>
                                            </div>
                                        </li>

                                        <li>
                                            <a href="#">
                                                <div class="blog-list-img">
                                                    <img src="{{ asset('assets/img/image-5.jpg') }}" class="img-responsive" alt="">
                                                </div>
                                            </a>
                                            <div class="blog-list-info">
                                                <h5><a href="#" title="blog">Tour travel Tick</a></h5>
                                                <div class="blog-post-meta">
                                                    <span class="updated">Sep 27, 2017</span> | <a href="#" rel="tag">Travel</a>
                                                </div>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>#}
                        <!-- End: Recent Listing -->

                    </div>
                </div>

            </div>

        </div>
    </section>

{% endblock container %}