{% extends '@HelixFront/Template/Layout.html.twig' %}

{% block title %}Profil | Helix{% endblock title %}

{% block pagetitle %} Profil {% endblock %}
{% block pageracine %} Accueil {% endblock %}
{% block pageactuelle %} Profil{% endblock %}

{% block container %}
    <section class="padd-0">
        <div class="container">
            <!-- General Information -->
            <div class="add-listing-box translateY-60 edit-info mrg-bot-25 padd-bot-30 padd-top-25">
                <div class="listing-box-header">
                    <div class="avater-box">
                        <img src="{{ asset('assets/img/Logo_TV_2015.png') }}" class="img-responsive img-circle edit-avater" alt="" />
                    </div>
                    <h3>{{ app.user.username }}</h3>
                    <p>Profil</p>
                </div>
                <div class="row mrg-r-10 mrg-l-10 preview-info">

                    <div class="col-sm-6">
                        <label><i class="ti-email preview-icon email mrg-r-10"></i>{{ app.user.email }}</label>
                    </div>

                    <div class="col-sm-6">
                        <label><i class="ti-world preview-icon web mrg-r-10"></i>Pas de site web</label>
                    </div>
                </div>
            </div>
            <!-- End General Information -->
        </div>
    </section>


    <section class="padd-top-0">
        <div class="container">
            <div class="col-md-6 col-sm-12 mob-padd-0">
                <!-- Basic Information -->
                <div class="add-listing-box edit-info mrg-bot-25 padd-bot-30 padd-top-5">
                    <div class="preview-info-header">
                        <h4>Informations basiques</h4>
                    </div>
                    <div class="preview-info-body">
                        <ul class="info-list">
                            <li>
                                <label>Nom:</label>
                                <span>{{ app.user.nom }} {{ app.user.prenom }}</span>
                            </li>
                            <li>
                                <label>Société:</label>
                                <span> </span>
                            </li>
                            <li>
                                <label>Slogan:</label>
                                <span> </span>
                            </li>
                            <li>
                                <label>Secteur d'activité:</label>
                                <span></span>
                            </li>
                            <li>
                                <label>Age:</label>
                                <span></span>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End Basic Information -->
            </div>

            <div class="col-md-6 col-sm-12 mob-padd-0">
                <!-- Address Information -->
                <div class="add-listing-box edit-info mrg-bot-25 padd-bot-30 padd-top-5">
                    <div class="preview-info-header">
                        <h4>Informations basiques</h4>
                    </div>
                    <div class="preview-info-body">
                        <ul class="info-list">
                            <li>
                                <label>Téléphone:</label>
                                <span>91 258 758 6584</span>
                            </li>
                            <li>
                                <label>Email:</label>
                                <span>{{ app.user.email }}</span>
                            </li>
                            <li>
                                <label>Gouvernorat:</label>
                                <span></span>
                            </li>
                            <li>
                                <label>Pays:</label>
                                <span>Tunisie</span>
                            </li>
                            <li>
                                <label>Adresse:</label>
                                <span></span>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End Address Information -->
            </div>

            <div class="col-md-6 col-sm-12 mob-padd-0">
                <!-- About Information -->
                <div class="add-listing-box edit-info mrg-bot-25 padd-bot-30 padd-top-5">
                    <div class="preview-info-header">
                        <h4>Description</h4>
                    </div>
                    <div class="preview-info-body">
                        <p>Pas de description pour ce profil</p>
                    </div>
                </div>
                <!-- End About Information -->
            </div>

            <div class="col-md-6 col-sm-12 mob-padd-0">
                <!-- Follow Information -->
                <div class="add-listing-box edit-info mrg-bot-25 padd-bot-30 padd-top-5">
                    <div class="preview-info-header">
                        <h4>Follow Us</h4>
                    </div>
                    <div class="preview-info-body">
                        <ul class="social-info info-list">
                            <li>
                                <label><i class="fa fa-facebook"></i></label>
                                <span>https://www.facebook.com</span>
                            </li>
                            <li>
                                <label><i class="fa fa-twitter"></i></label>
                                <span>https://www.twitter.com/</span>
                            </li>
                            <li>
                                <label><i class="fa fa-google-plus"></i></label>
                                <span>https://www.plus.google.com</span>
                            </li>
                            <li>
                                <label><i class="fa fa-linkedin"></i></label>
                                <span>https://www.linkedin.com</span>
                            </li>
                            <li>
                                <label><i class="fa fa-youtube"></i></label>
                                <span>https://www.youtube.com</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End Follow Information -->
            </div>
        </div>
    </section>




{% endblock container %}