<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="zxx">


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="index,follow">

    <title>Helix | Login</title>

    <link rel="shortcut icon" type="image/png" href="{{ asset('App icon blue.png') }}"/>


    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ asset('assets/plugins/bootstrap/css/bootstrap.min.css') }}">

    <!-- Bootstrap Select Option css -->
    <link rel="stylesheet" href="{{ asset('assets/plugins/bootstrap/css/bootstrap-select.min.css') }}">

    <!-- Icons -->
    <link href="{{ asset('assets/plugins/font-awesome/css/font-awesome.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/plugins/themify-icons/css/themify-icons.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/plugins/line-icons/css/line-font.css') }}" rel="stylesheet">

    <!-- Animate -->
    <link href="{{ asset('assets/plugins/animate/animate.css') }}" rel="stylesheet">

    <!-- Bootsnav -->
    <link href="{{ asset('assets/plugins/bootstrap/css/bootsnav.css') }}" rel="stylesheet">

    <!-- Custom style -->
    <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/responsiveness.css') }}" rel="stylesheet">
    <link  type="text/css" rel="stylesheet" id="jssDefault" href="{{ asset('assets/css/colors/main.css') }}">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<div class="wrapper">
    <!-- Start Navigation -->
    <nav class="navbar navbar-default navbar-fixed navbar-transparent white bootsnav">
        <div class="container-fluid">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                <i class="ti-align-left"></i>
            </button>

            <!-- Start Header Navigation -->
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ path('index') }}">
                    <img src="{{ asset('assets/img/Helix-Logo.png') }}" class="logo logo-display" alt="">
                    <img src="{{ asset('assets/img/Helix-Logo.png') }}" class="logo logo-scrolled" alt="">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="nav navbar-nav navbar-center" data-in="fadeInDown" data-out="fadeOutUp">
                    {#<li >
                        <a href="{{ path('allsponsors') }}" class="dropdown-toggle" data-toggle="dropdown">sponsors</a>
                    </li>#}
                    <li>
                        <a href="{{ path('allarticles') }}" class="dropdown-toggle" data-toggle="dropdown">Actualité</a>

                    </li>
                    {#<li>
                        <a href="{{ path('aboutus') }}" class="dropdown-toggle" data-toggle="dropdown">Qui sommes-nous</a>
                    </li>#}

                    {#<li><a  href="javascript:void(0)"  data-toggle="modal" data-target="#signup">Sign In</a></li>#}
                </ul>
                {% if app.user %}
                    {% if is_granted('ROLE_USER') %}
                        <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                            <li class="no-pd dropdown">
                                <a href="{{ path('fos_user_profile_show') }}" class="addlist">

                                    {% if app.user.nomLogo == NULL %}
                                    <img src="{{ asset('assets/img/avatar-homme.png') }}"
                                         class="img-responsive img-circle avater-img"
                                         alt=""/><strong>{{ app.user.username }}</strong></a>
                                {% else %}
                                    <img src="{{ asset ('assets/img/upload/'~ app.user.nomLogo) }}"
                                         class="img-responsive img-circle avater-img" alt=""/>
                                    <strong>{{ app.user.username }}</strong></a>
                                {% endif %}
                                <ul class="dropdown-menu animated navbar-left fadeOutUp">
                                    <li><a href="{{ path('dossier_new') }}">Ajouter un dossier</a></li>

                                    <li><a href="{{ path('mesdossiers') }}">Voir mes dossiers</a></li>

                                    <li><a href="{{ path('user_edit', {'id': app.user.id}) }}">Modifier mon Profil</a>
                                    </li>
                                    <li><a href="{{ path('mespacks') }}">Mes pack</a></li>

                                    <li><a href="{{ path('pack_new') }}">Créer un pack</a></li>

                                    <li><a href="{{ path('fos_message_inbox') }}">Boite de réception</a></li>


                                    <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
                                </ul>
                            </li>
                        </ul>
                    {% endif %}


                    {% if is_granted('ROLE_SPONSOR') %}

                        <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                            <li class="no-pd dropdown">
                                <a href="{{ path('fos_user_profile_show') }}" class="addlist">

                                    {% if app.user.nomLogo == NULL %}
                                    <img src="{{ asset('assets/img/avatar-homme.png') }}"
                                         class="img-responsive img-circle avater-img"
                                         alt=""/><strong>{{ app.user.username }}</strong></a>
                                {% else %}
                                    <img src="{{ asset ('assets/img/upload/'~ user.nomLogo) }}"
                                         class="img-responsive img-circle avater-img" alt=""/>
                                    <strong>{{ app.user.username }}</strong></a>
                                {% endif %}
                                <ul class="dropdown-menu animated navbar-left fadeOutUp">

                                    <li><a href="{{ path('dossier_index') }}">Toutes les demandes</a></li>
                                    <li><a href="{{ path('recommande') }}">Demandes recommandées</a></li>
                                    {% if app.user.type == 'gold' %}

                                        <li><a href="{{ path('pref_edit', {'id': app.user.preference.id}) }}">Configurer préférences</a></li>
                                    {% endif %}
                                    <li><a href="{{ path('fos_message_inbox') }}">Boite de réception</a></li>
                                    <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
                                </ul>
                            </li>
                        </ul>

                    {% endif %}

                {% else %}
                    <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class="no-pd"><a href="{{ path('fos_user_security_login') }}" class="addlist"><i
                                        class="ti-user"
                                        aria-hidden="true"></i>Se connecter</a>
                        </li>
                    </ul>
                {% endif %}
            </div>
            <!-- /.navbar-collapse -->
        </div>
    </nav>
    <!-- End Navigation -->
    <div class="clearfix"></div>

    <!-- Start Login Section -->
    <section class="log-wrapper">
        <div class="container">
            <div class="col-md-6 col-sm-10 col-md-offset-3 col-sm-offset-1">
                <div class="log-box">
                    {% block content %}
                    {% block form %}
                    <h2>Bien<span class="theme-cl">venue!</span></h2>
                        {% if error %}
                            <div style="color: white; background: red">


                                <center>{{ error.messageKey|trans(error.messageData, 'security') }}</center>


                            </div>
                            <bR>
                        {% endif %}
                    <form action="{{ path("fos_user_security_check") }}" method="post">

                        {% if csrf_token %}
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                        {% endif %}

                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope theme-cl"></i></span>
                            <input type="text" class="form-control" placeholder="Nom d'utilisateur" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="email">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock theme-cl"></i></span>
                            <input type="password" class="form-control" placeholder="Mot de passe" id="password" name="_password" required="required" autocomplete="current-password">
                        </div>
                        <div class="text-center">
                            <button type="submit" id="_submit" name="_submit" class="btn theme-btn width-200 btn-radius">Connexion</button>


                        </div>
                        <div>
                        <ul>
                            <li><a href="{{ path('fos_user_registration_register') }}">Créer un compte</a></li>
                            <li><a href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié ?</a></li>
                        </ul>
                        </div>
                    </form>
                    {% endblock form %}
                    {% block csrf %}
                    {% if csrf_token %}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    {% endif %}
                    {% endblock csrf %}

                    {% endblock content %}
                </div>
            </div>
        </div>
    </section>
    <!-- End Login Section -->

    <!-- ================ Start Footer ======================= -->
    <footer class="footer dark-bg">
        <div class="row padd-0 mrg-0">
            <div class="footer-text">
                <div class="col-md-3 col-sm-12 theme-bg">
                    <div class="footer-widget">
                        <div class="textwidget">
                            <h3 class="widgettitle widget-title">Contact</h3>
                            <p>7744 Adresse helix, rue<br>
                                cité</p>
                            <p><strong>Email:</strong> contact@helix.com.tn</p>
                            <p>
                                <strong>Téléphone:</strong> <a href="tel:+216 xx xxx xxx">+216 xx xxx xxx</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-sm-4">
                    <div class="footer-widget">
                        <h3 class="widgettitle widget-title">Accès Rapide</h3>
                        <ul class="footer-navigation">
                            <li><a href="{{ path('index') }}">Accueil</a></li>
                            <li><a href="{{ path('allsponsors') }}">Tous les sponsors</a></li>
                            <li><a href="{{ path('aboutus') }}">Qui sommes-nou</a></li>
                            <li><a href="{{ path('allarticles') }}">Actualité</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="footer-widget">
                        <h3 class="widgettitle widget-title">Suivez-nous</h3>
                        <img src="{{ asset('assets/img/Helix-Logo-White.png') }}" alt="Footer logo"
                             class="img-responsive"/>
                        <ul class="footer-social">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            {#<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>#}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>Copyright@ 2018 Helix Created By <a href="{{ path('index') }}" title="Helix" target="_blank">Helix
                    Team</a></p>

        </div>
    </footer>
    <!-- ================ End Footer Section ======================= -->

    <!-- ================== Login & Sign Up Window ================== -->
    <div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="tab" role="tabpanel">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#login" role="tab" data-toggle="tab">Sign In</a></li>
                            <li role="presentation"><a href="#register" role="tab" data-toggle="tab">Sign Up</a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content" id="myModalLabel2">
                            <div role="tabpanel" class="tab-pane fade in active" id="login">
                                <img src="{{ asset('assets/img/Helix-Logo.png') }}" class="img-responsive" alt="" />
                                <div class="subscribe wow fadeInUp">
                                    <form class="form-inline" method="post">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <input type="email"  name="email" class="form-control" placeholder="Username" required="">
                                                <input type="password" name="password" class="form-control"  placeholder="Password" required="">
                                                <div class="center">
                                                    <button type="submit" id="login-btn" class="btn btn-midium theme-btn btn-radius width-200"> Login </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div role="tabpanel" class="tab-pane fade" id="register">
                                <img src="{{ asset('assets/img/Helix-Logo.png') }}" class="img-responsive" alt="" />
                                <form class="form-inline" method="post">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <input type="text"  name="email" class="form-control" placeholder="Your Name" required="">
                                            <input type="email"  name="email" class="form-control" placeholder="Your Email" required="">
                                            <input type="email"  name="email" class="form-control" placeholder="Username" required="">
                                            <input type="password" name="password" class="form-control"  placeholder="Password" required="">
                                            <div class="center">
                                                <button type="submit" id="subscribe" class="btn btn-midium theme-btn btn-radius width-200"> Create Account </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ===================== End Login & Sign Up Window =========================== -->

    <!-- Share Your Design -->
    <div class="modal fade" id="share-up" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <h4 class="modal-title">Share Your designs</h4>
                </div>
                <div class="modal-body">
                    <div class="complete" id="myModalLabel3">
                        <h2>Share This <span>Design</span></h2>
                        <p>Share Your Designs With Your Friends</p>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Share Window -->

    <!-- Switcher -->

    <div class="w3-sidebar w3-bar-block w3-card-2 w3-animate-right" style="display:none;right:0;" id="rightMenu">
        <button onclick="closeRightMenu()" class="w3-bar-item w3-button w3-large theme-bg">Close &times;</button>
        <div class="title-logo">
            <img src="{{ asset('assets/img/Helix-Logo.png') }}" alt="" class="img-responsive">
            <h4>Choose Your Color</h4>
        </div>
        <ul id="styleOptions" title="switch styling">
            <li>
                <a href="javascript: void(0)" class="cl-box alabama" data-theme="colors/alabama"></a>
            </li>
            <li>
                <a href="javascript: void(0)" class="cl-box imperial-blue" data-theme="colors/imperial-blue"></a>
            </li>
            <li>
                <a href="javascript: void(0)" class="cl-box university" data-theme="colors/university"></a>
            </li>
            <li>
                <a href="javascript: void(0)" class="cl-box cerulean" data-theme="colors/cerulean"></a>
            </li>
            <li>
                <a href="javascript: void(0)" class="cl-box lilac" data-theme="colors/lilac"></a>
            </li>
            <li>
                <a href="javascript: void(0)" class="cl-box bronze" data-theme="colors/bronze"></a>
            </li>
            <li>
                <a href="javascript: void(0)" class="cl-box viridian-green" data-theme="colors/viridian-green"></a>
            </li>
            <li>
                <a href="javascript: void(0)"  class="cl-box amaranth" data-theme="colors/amaranth"></a>
            </li>
            <li>
                <a href="javascript: void(0)" class="cl-box yellow" data-theme="colors/yellow"></a>
            </li>
            <li>
                <a href="javascript: void(0)" class="cl-box kelly-green" data-theme="colors/kelly-green"></a>
            </li>
            <li>
                <a href="javascript: void(0)" class="cl-box lava" data-theme="colors/lava"></a>
            </li>
            <li>
                <a href="javascript: void(0)" class="cl-box violet" data-theme="colors/violet"></a>
            </li>
            <li>
                <a href="javascript: void(0)" class="cl-box cadmium" data-theme="colors/cadmium"></a>
            </li>
            <li>
                <a href="javascript: void(0)" class="cl-box rich-carmine" data-theme="colors/rich-carmine"></a>
            </li>
            <li>
                <a href="javascript: void(0)" class="cl-box ball-blue" data-theme="colors/ball-blue"></a>
            </li>
            <li>
                <a href="javascript: void(0)" class="cl-box charcoal" data-theme="colors/charcoal"></a>
            </li>
            <li>
                <a href="javascript: void(0)" class="cl-box lime-green" data-theme="colors/lime-green"></a>
            </li>
            <li>
                <a href="javascript: void(0)" class="cl-box cg-blue" data-theme="colors/cg-blue"></a>
            </li>
            <li>
                <a href="javascript: void(0)" class="cl-box crimson" data-theme="colors/crimson"></a>
            </li>
            <li>
                <a href="javascript: void(0)" class="cl-box cyan-cornflower" data-theme="colors/cyan-cornflower"></a>
            </li>
            <li>
                <a href="javascript: void(0)" class="cl-box dark-cyan" data-theme="colors/dark-cyan"></a>
            </li>
            <li>
                <a href="javascript: void(0)" class="cl-box dark-pink" data-theme="colors/dark-pink"></a>
            </li>
            <li>
                <a href="javascript: void(0)" class="cl-box debian-red" data-theme="colors/debian-red"></a>
            </li>
            <li>
                <a href="javascript: void(0)" class="cl-box alizarin" data-theme="colors/alizarin"></a>
            </li>
            <li>
                <a href="javascript: void(0)" class="cl-box bleu-de-france" data-theme="colors/bleu-de-france"></a>
            </li>
            <li>
                <a href="javascript: void(0)" class="cl-box fuchsia" data-theme="colors/fuchsia"></a>
            </li>
            <li>
                <a href="javascript: void(0)" class="cl-box forest-green" data-theme="colors/forest-green"></a>
            </li>
            <li>
                <a href="javascript: void(0)" class="cl-box go-green" data-theme="colors/go-green"></a>
            </li>
            <li>
                <a href="javascript: void(0)" class="cl-box azure" data-theme="colors/azure"></a>
            </li>
            <li>
                <a href="javascript: void(0)" class="cl-box american-rose" data-theme="colors/american-rose"></a>
            </li>
            <li>
                <a href="javascript: void(0)" class="cl-box amber" data-theme="colors/amber"></a>
            </li>
            <li>
                <a href="javascript: void(0)" class="cl-box green-pantone" data-theme="colors/green-pantone"></a>
            </li>
            <li>
                <a href="javascript: void(0)" class="cl-box orange-pantone" data-theme="colors/orange-pantone"></a>
            </li>
            <li>
                <a href="javascript: void(0)" class="cl-box burnt-orange" data-theme="colors/burnt-orange"></a>
            </li>
            <li>
                <a href="javascript: void(0)" class="cl-box blueberry" data-theme="colors/blueberry"></a>
            </li>
            <li>
                <a href="javascript: void(0)" class="cl-box magenta-violet" data-theme="colors/magenta-violet"></a>
            </li>
            <li>
                <a href="javascript: void(0)" class="cl-box blue-green" data-theme="colors/blue-green"></a>
            </li>
            <li>
                <a href="javascript: void(0)" class="cl-box blue-munsell" data-theme="colors/blue-munsell"></a>
            </li>
            <li>
                <a href="javascript: void(0)" class="cl-box coquelicot" data-theme="colors/coquelicot"></a>
            </li>
        </ul>
    </div>
    <!-- /Switcher -->
    <a id="back2Top" class="theme-bg" title="Back to top" href="#"><i class="ti-arrow-up"></i></a>

    <!-- START JAVASCRIPT -->
    <!-- Jquery js-->
    <script src="{{ asset('assets/js/jquery.min.js') }}"></script>

    <!-- Bootstrap js-->
    <script src="{{ asset('assets/plugins/bootstrap/js/bootstrap.min.js') }}"></script>

    <!-- Bootsnav js-->
    <script src="{{ asset('assets/plugins/bootstrap/js/bootsnav.js') }}"></script>
    <script src="{{ asset('assets/js/viewportchecker.js') }}"></script>

    <!-- Slick Slider js-->
    <script src="{{ asset('assets/plugins/slick-slider/slick.js') }}"></script>

    <!-- counter js-->
    <script src="{{ asset('assets/plugins/jquery-counter/js/waypoints.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/jquery-counter/js/jquery.counterup.min.js') }}"></script>

    <script src="{{ asset('assets/js/jQuery.style.switcher.js') }}"></script>

    <!-- Custom Js -->
    <script src="{{ asset('assets/js/custom.js') }}"></script>
    <script>
        function openRightMenu() {
            document.getElementById("rightMenu").style.display = "block";
        }
        function closeRightMenu() {
            document.getElementById("rightMenu").style.display = "none";
        }
    </script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#styleOptions').styleSwitcher();
        });
    </script>


</div>
</body>


</html>


