{% extends 'base.html.twig' %}

{% block body %}
    <h1>Preference</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ preference.id }}</td>
            </tr>
            <tr>
                <th>Alcool</th>
                <td>{{ preference.alcool }}</td>
            </tr>
            <tr>
                <th>Gouvernorat</th>
                <td>{{ preference.gouvernorat }}</td>
            </tr>
            <tr>
                <th>Theme</th>
                <td>{{ preference.theme }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ preference.age }}</td>
            </tr>
            <tr>
                <th>Withpartner</th>
                <td>{{ preference.withPartner }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('pref_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('pref_edit', { 'id': preference.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
