{% extends '@HelixMessage/layout.html.twig' %}

{% block container %}

<h2>{{ thread.subject }}</h2>

{% for message in thread.messages %}
    <div class="messenger_thread_message">
        <div class="messenger_thread_message_info">
          <b>  {% trans with {'%sender%': message.sender|e, '%date%': message.createdAt|date} from 'FOSMessageBundle' %}message_info{% endtrans %}</b>
        </div>

        <div class="messenger_thread_message_body" id="message_{{ message.id }}">
            {{ message.body }}
        </div>
    </div>
{% endfor %}

<h3>{% trans from 'FOSMessageBundle' %}reply{% endtrans %}</h3>

    {{ form_start(form, {'method': 'post', 'action': path('fos_message_thread_view',{'threadId': thread.id})}) }}

    {#<form action="{{ url('fos_message_thread_view', {'threadId': thread.id}) }}" method="post">#}
    {{ form_widget(form.body, { 'attr': {'class': "form-control height-120", 'placeholder': 'Votre message ici...'} }) }}

    <div class="text-center">
        <button type="submit" class="btn add-field theme-btn">Envoyer</button>
    </div>{{ form_end(form) }}
{% endblock %}
