{% extends '@HelixFront/Template/Layout.html.twig' %}

{% block title %}All projects | Helix{% endblock title %}

{% block pagetitle %} Tous les projets {% endblock %}
{% block pageracine %} Accueil {% endblock %}
{% block pageactuelle %} Tous les projets{% endblock %}




{% block container %}

    <!-- ================ Listing In Grid Style ======================= -->
    <section class="padd-top-0 padd-bot-0">
        <div class="container">
            <div class="row">
                <div class="white-box white-shadow padd-top-30 padd-bot-30 translateY-60">
                    <h3 class="text-center">Chercher un projet</h3>
                    <form class="form-verticle">
                        <div class="col-md-4 col-sm-4 no-padd">

                        </div>
                        <div class="col-md-3 col-sm-3 no-padd">
                            <input type="text" class="form-control left-radius" placeholder="Mots clés..">
                        </div>
                        <div class="col-md-3 col-sm-3 no-padd">
                            <button type="button" class="btn theme-btn normal-height full-width">Chercher</button>
                        </div>
                        <div class="col-md-2 col-sm-2 no-padd">

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- ================ Listing In Grid Style ======================= -->
    <section class="padd-top-20">
        <div class="container">
            <div class="row">
                <!-- Start Sidebar -->
                <div class="col-md-4 col-sm-12">
                    <div class="sidebar">
                        <!-- Start: Search By Price -->
                        <div class="widget-boxed">
                            <div class="widget-boxed-header">
                                <h4><i class="fa fa-search"></i> Filtrer par</h4>
                            </div>
                            <form method="post" >

                                {{ form_start(form) }}
                            <div class="widget-boxed-body padd-top-10 padd-bot-0">
                                <div class="side-list">
                                    <ul class="price-range">
                                        <li>
													<span class="custom-checkbox d-block">
														<input type="checkbox" id="free">
														<label for="free"></label>
														Alcool permis
													</span>
                                        </li>
                                        <li>
													<span class="custom-checkbox d-block">
														<input type="checkbox" id="free">
														<label for="free"></label>
														Ayant un partenariat
													</span>
                                        </li>
                                        <li>
													<span class="custom-checkbox d-block">

														<select class="form-control" >
                                          <option value="" disabled selected>Choisir un gouvernorat</option>
										  <option data-tokens="ketchup mustard">Ariana</option>
										  <option data-tokens="ketchup mustard">Béja</option>
										  <option data-tokens="ketchup mustard">Ben Arous</option>
										  <option data-tokens="ketchup mustard">Bizerte</option>
										  <option data-tokens="ketchup mustard">Gabès</option>
										  <option data-tokens="ketchup mustard">Gafsa</option>
										  <option data-tokens="ketchup mustard">Jendouba</option>
										  <option data-tokens="ketchup mustard">Kairouan</option>
										  <option data-tokens="ketchup mustard">Kasserine</option>
										  <option data-tokens="ketchup mustard">Kébili</option>
										  <option data-tokens="ketchup mustard">Le Kef</option>
										  <option data-tokens="ketchup mustard">Mahdia</option>
										  <option data-tokens="ketchup mustard">La Manouba</option>
										  <option data-tokens="ketchup mustard">Médenine</option>
										  <option data-tokens="ketchup mustard">Monastir</option>
										  <option data-tokens="ketchup mustard">Nabeul</option>
										  <option data-tokens="ketchup mustard">Sfax</option>
										  <option data-tokens="ketchup mustard">Sidi Bouzid</option>
										  <option data-tokens="ketchup mustard">Siliana</option>
										  <option data-tokens="ketchup mustard">Sousse</option>
										  <option data-tokens="ketchup mustard">Tataouine</option>
										  <option data-tokens="ketchup mustard">Tozeur</option>
										  <option data-tokens="ketchup mustard">Tunis</option>
										  <option data-tokens="ketchup mustard">Zaghouan</option>

										</select>

													</span>
                                        </li>
                                        <li>
													<span class="custom-checkbox d-block">
														<select class="form-control" >
                                          <option value="" disabled selected>Choisir un thème</option>
                                          <option data-tokens="ketchup mustard">Business</option>
                                          <option data-tokens="ketchup mustard">Humanitaire</option>
                                          <option data-tokens="ketchup mustard">Culturel</option>



										</select>
                                                    </span>
                                        </li>
                                        <li>
                                            <span class="custom-checkbox d-block">
														<select class="form-control" >
                                          <option value="" disabled selected>Choisir une tranche d'âge</option>
                                          <option data-tokens="ketchup mustard">[-18]</option>
                                          <option data-tokens="ketchup mustard">[18-25 ans]</option>
                                          <option data-tokens="ketchup mustard">[25-35 ans]</option>
                                          <option data-tokens="ketchup mustard">[35+]</option>
                                          <option data-tokens="ketchup mustard">Tous le monde</option>
										</select>
													</span>
                                        </li>

                                    </ul>
                                </div>
                                {{ form_widget(form) }}
                                <input type="submit" class="btn btn-primary" />

                                {{ form_end(form) }}

                            </div>
                            </form>
                        </div>
                        <!-- End: Search By Price -->

                        <!-- Start: Latest Listing -->
                        <div class="widget-boxed">
                            <div class="widget-boxed-header">
                                <h4><i class="ti-check-box padd-r-10"></i>Projets recommandés</h4>
                            </div>
                            <div class="widget-boxed-body padd-top-5">
                                <div class="side-list">
                                    <ul class="listing-list">
                                        {% set x = 1  %}
                                        {% for b in best %}
                                        {% if x < 6 %}

                                        <li>
                                            <a href="{{ path('dossier_show', {'id': b.id}) }}">
                                                <div class="listing-list-img">
                                                    <img src="{{ asset('assets/img/image-5.jpg') }}" class="img-responsive" alt="">
                                                </div>
                                            </a>
                                            <div class="listing-list-info">
                                                <h5><a href="{{ path('dossier_show', {'id': b.id}) }}" title="Listing">{{ b.nom }}</a></h5>
                                                <div class="listing-post-meta">
                                                    {% if b.note == 0 %}Pas de recommandations{% else %}<span class="updated">Nombre de recommandations</span> : <a href="#" rel="tag">{{ b.note }}</a>{% endif %}
                                                </div>
                                            </div>
                                        </li>

                                            {% set x = x + 1 %}
                                        {% endif %}
                                        {% endfor %}

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- End: Latest Listing -->


                        <!-- Start: Help & Support -->
                        <div class="widget-boxed">
                            <div class="widget-boxed-body padd-top-40 padd-bot-40 text-center">
                                <div class="help-support">
                                    <i class="ti-headphone-alt font-60 theme-cl mrg-bot-15"></i>
                                    <p>Avez-vous des questions ? Contactez-nous</p>
                                    <h4 class="mrg-top-0">Contact@Helix.com</h4>
                                </div>
                            </div>
                        </div>
                        <!-- End: Help & Support -->
                    </div>
                </div>
                <!-- End Start Sidebar -->

                <!-- Start All Listing -->
                <div class="col-md-8 col-sm-12">
                    <!-- Filter option -->
                    {#<div class="row mrg-0 mrg-bot-20">
                        <div class="col-md-6">
                            <h5>Short By</h5>
                        </div>
                        <div class="col-md-6">
                            <div class="layout-option pull-right">
                                <a href="#" class="active" title="Grid Layout"><i class="ti-layout-grid3"></i></a>
                                <a href="#" title="List Layout"><i class="ti-view-list"></i></a>
                            </div>
                        </div>
                    </div>#}
                    <!-- End Filter option -->

                    <div class="row mrg-0">
{% if type == 'silver' %}
                        {% for dossier in dossiers %}
                        <div class="col-md-4 col-sm-6">
                            {% if dossier.note > 0 %}
                            <span class="featured-listing"></span>
                            {% endif %}
                            <div class="listing-shot grid-style">
                                <a href="{{ path('dossier_show', {'id': dossier.id}) }}">
                                    <div class="listing-shot-img">
                                        <img src="{{ asset('assets/img/building-icon.png') }}" class="img-responsive" alt="">
                                        <span class="approve-listing"><i class="fa fa-check"></i></span>
                                    </div>
                                    <div class="listing-shot-caption">
                                        <h4>{{ dossier.nom }}</h4>
                                        <p class="listing-location">Partenaire(s): {{ dossier.partenaire }}</p>
                                        <span class="like-listing style-2"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                                    </div>
                                </a>
                                <div class="listing-shot-info">
                                    <div class="row extra">
                                        <div class="col-md-12">
                                            <div class="listing-detail-info">
                                                <span><i class="fa fa-phone" aria-hidden="true"></i> </span>
                                                <span><i class="fa fa-envelope" aria-hidden="true"></i>{{ dossier.idUser.email }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        {% endfor %}
{% else %}

    {% for dossier in reponse %}
        {% if dossier %}
        <div class="col-md-4 col-sm-6">
            {% if dossier.note > 0 %}
                <span class="featured-listing"></span>
            {% endif %}
            <div class="listing-shot grid-style">
                <a href="{{ path('dossier_show', {'id': dossier.id}) }}">
                    <div class="listing-shot-img">
                        <img src="{{ asset('assets/img/building-icon.png') }}" class="img-responsive" alt="">
                        <span class="approve-listing"><i class="fa fa-check"></i></span>
                    </div>
                    <div class="listing-shot-caption">
                        <h4>{{ dossier.nom }}</h4>
                        <p class="listing-location">Partenaire(s): {{ dossier.partenaire }}</p>
                        <span class="like-listing style-2"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                    </div>
                </a>
                <div class="listing-shot-info">
                    <div class="row extra">
                        <div class="col-md-12">
                            <div class="listing-detail-info">
                                <span><i class="fa fa-phone" aria-hidden="true"></i> </span>
                                <span><i class="fa fa-envelope" aria-hidden="true"></i>{{ dossier.idUser.email }}</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
            {% endif %}
    {% endfor %}

{% endif %}

                    </div>
                </div>
                <!-- End All Listing -->
            </div>
            <!-- Start Pagination -->
            <div class="row">
                <div class="col-md-12">
                    <div class="bs-example">
                        <ul class="pagination">
                            <li><a href="#">&laquo;</a></li>
                            <li><a href="#">1</a></li>

                            <li><a href="#">&raquo;</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End Pagination -->
        </div>
    </section>
    <!-- ================ End Listing In Grid Style ======================= -->

{% endblock %}
